@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes random {
    5% { background-color: white; }  
    20% { background-color: #ACDBC9; } 
    30% { background-color: #547980; } 
    40% { background-color: #45ada8; }
    60% { background-color: black; }  
    70% { background-color: #2a363b; } 
    80% { background-color: #ff847c; } 
    90% { background-color: #99b898; } 
  }
  
  .background-animation {
    -webkit-animation: random 60s infinite;
    animation: random 80s infinite;
  }